# Ignoring targets
target/
out/

# Ignoring IntelliJ related files
*.iml
.idea/
.idea_modules/

# Ignoring vscode related files
.vscode/

# Ignoring Eclipse files
.classpath/
.project/
.settings/

# Ignoring Mac OSX specific files
.DS_Store

# Ignoring jenv-related files
.java-version

# Ignoring python related files
venv/
*.pyc

# Ignoring rebel related files
rebel.xml

# Ignoring user-resources related files
user-resources/

# Ignoring index folder and data folder
index
catalog
plan/
plan_files/
query-results/
